*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "roboto", sans-serif;
font-size:20px;
}

header{
background-color: white;
margin: 10px;
padding: 10px 10px;
}

header img, header h1{
vertical-align: middle;
}

h1{
display: inline-block;
}

body{
background-color: #E5E5E5;
}

.container1 , .container2 {
width: 75%;
margin: 0 auto;
margin-bottom: 4px;
background-color: white;
padding: 8px;
}

.buttontask{
background-color: #47ADF1;
border: 2px solid #47ADF1;
color: white;
padding: 6px 6px 6px 6px;
margin: 5px;
text-align: center;
font-size: 16px;
border-radius:6px;
}

.buttonselection {
background-color: white;
color: lightgrey;
border: 2px solid lightgrey;
font-size: 16px;
border-radius:6px;
padding: 6px 6px 6px 6px;
}


ul li{
list-style: none;
}

.check {
border-radius: 50%;
border: 1px solid green;
color: green;
display: inline-block;
width: 25px;
height: 25px;
text-align: center;
line-height: 25px;
margin-right:10px;
}

.cross {
border-radius: 50%;
border: 1px solid red;
color: red;
display: inline-block;
width: 25px;
height: 25px;
text-align: center;
line-height: 25px;
margin-right:10px;
}

.category{
color: white;
padding: 7px;
text-align: center;
font-size: 10px;
border-radius:15px;
display: inline-block;
}

.blue{
background-color: #47ADF1;
border: 2px solid #47ADF1;
}

.purple{
background-color: #9C72E4;
border: 2px solid #9C72E4;
}

.orange{
background-color: orange;
border: 2px solid orange;
}

.aquamarine{
background-color: #64C0A9;
border: 2px solid #64C0A9;    
}

.pink{
background-color: #D863A1;
border: 2px solid #D863A1;    
}

.lime{
background-color: lime;
border: 2px solid lime;    
}
